Repository FromProm/FromProm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, sonarqube-ai, sonarqube-auth, sonarqube-search, deploy-frontend, deploy-ai-agentcore, update-manifest-auth, update-manifest-search

build-frontend:
  stage: build
  image: node:20-alpine
  variables:
    FRONT_ROOT: service/front
    FRONT_BUILD_OUTPUT: dist
  script:
  - cd $FRONT_ROOT
  - npm ci --prefer-offline --no-audit
  - npm run build
  artifacts:
    paths:
    - $FRONT_ROOT/$FRONT_BUILD_OUTPUT/
    expire_in: 1 hour

sonarqube-ai:
  stage: sast
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: sonar-ai-${CI_COMMIT_REF_SLUG}
    paths:
    - .sonar/cache
  script:
  - cd service/ai-service
  ...

sonarqube-auth:
  stage: sast
  image: gradle:8.5-jdk17
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: sonar-auth-${CI_COMMIT_REF_SLUG}
    paths:
    - .sonar/cache
    - service/auth-service/.gradle/
  before_script:
  - apt-get update && apt-get install -y unzip curl
  ...

sonarqube-search:
  stage: sast
  image: gradle:8.5-jdk17
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: sonar-search-${CI_COMMIT_REF_SLUG}
    paths:
    - .sonar/cache
    - service/search-service/.gradle/
  before_script:
  - apt-get update && apt-get install -y unzip curl
  ...

deploy-frontend:
  stage: deploy
  image: amazon/aws-cli:latest
  needs:
  - build-frontend
  variables:
    FRONT_ROOT: service/front
    FRONT_BUILD_OUTPUT: dist
  script:
  - aws s3 sync $FRONT_ROOT/$FRONT_BUILD_OUTPUT/ s3://$S3_FRONT_BUCKET_NAME --delete
  ...

deploy-ai-agentcore:
  stage: deploy
  image: python:3.11-slim
  variables:
    AWS_REGION: us-west-2
  script:
  - apt-get update && apt-get install -y --no-install-recommends git curl jq
  - pip install --no-cache-dir awscli bedrock-agentcore-starter-toolkit
  - cd service/ai-service
  - pip install --no-cache-dir -e .
  ...

update-manifest-auth:
  stage: update-manifest
  image: amazon/aws-cli:latest
  needs:
  - build-auth-service
  before_script:
  - yum install -y git
  - curl -LO "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl" && chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl
  ...

update-manifest-search:
  stage: update-manifest
  image: amazon/aws-cli:latest
  needs:
  - build-search-service
  before_script:
  - yum install -y git
  - curl -LO "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl" && chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl
  ...

0201 04:19
  service/ai-service/app/agents/strands_supervisor_agent.py
Due: sonarqube-ai, deploy-ai-agentcore

UI 6
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
Due: build-frontend, deploy-frontend

UI 7
  service/front/src/pages/DocsPage.tsx
Due: build-frontend, deploy-frontend

chore: update search image to bdb6a53a [skip ci]
  infra/k8s-manifests/search-service.yaml
Due: none

chore: update auth image to bdb6a53a [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

UI 8
  service/front/src/pages/DocsPage.tsx
Due: build-frontend, deploy-frontend

ses delete
  service/ai-service/app/adapters/notification/ses_notifier.py
Due: sonarqube-ai, deploy-ai-agentcore

UI 9
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

0201 04:52
  service/ai-service/app/orchestrator/stages/run_stage.py
Due: sonarqube-ai, deploy-ai-agentcore

UI 10
  service/front/src/pages/DocsPage.tsx
Due: build-frontend, deploy-frontend

UI 11
  service/front/src/pages/DocsPage.tsx
Due: build-frontend, deploy-frontend

UI 12
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

UI 13
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

닉네임 수정 데이터 저장 수정
  service/auth-service/src/main/java/FromProm/user_service/Service/UserService.java
Due: sonarqube-auth, update-manifest-auth

chore: update auth image to 2d2e7ad5 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

UI 14
  service/front/src/index.css
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI 15
  service/front/src/index.css
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI 16
  service/front/src/index.css
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI 17
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

UI 18
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

UI 19
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

UI 20
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

UI 21
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/PromptCreatePage.tsx
Due: build-frontend, deploy-frontend

UI 22
  service/front/src/pages/PromptCreatePage.tsx
Due: build-frontend, deploy-frontend

UI 23
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

maxtoken 2000
  service/ai-service/app/orchestrator/stages/run_stage.py
Due: sonarqube-ai, deploy-ai-agentcore

UI 1
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI 2
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

token+
  service/ai-service/app/orchestrator/stages/run_stage.py
Due: sonarqube-ai, deploy-ai-agentcore

back
  service/ai-service/app/orchestrator/stages/run_stage.py
Due: sonarqube-ai, deploy-ai-agentcore

UI 3
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

UI 4
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

UI 5
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI 6
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI 7
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

fix: TYPE_B_IMAGE 평가 오류 수정 - Variance 0점 문제 (model_str 변수 사용) - Relevance 50점 고정 문제 (기본 방향성 설정)
  service/ai-service/app/orchestrator/stages/relevance_stage.py
  service/ai-service/app/orchestrator/stages/variance_stage.py
Due: sonarqube-ai, deploy-ai-agentcore

fix: 1개 모델만 있어도 variance 점수 부여 (70점 기본값)
  service/ai-service/app/orchestrator/stages/variance_stage.py
Due: sonarqube-ai, deploy-ai-agentcore

fix: AI 서비스 manifest 업데이트 비활성화 (AgentCore 배포 사용)
  .gitlab-ci.yml
Due: none

docs: update README with comprehensive project documentation
  README.md
Due: none

Update team member list in README.md
  README.md
Due: none

Path conditions:
  build-frontend: any of: service/front/**/*
  sonarqube-ai: any of: service/ai-service/**/*
  sonarqube-auth: any of: service/auth-service/**/*
  sonarqube-search: any of: service/search-service/**/*
  deploy-frontend: any of: service/front/**/*
  deploy-ai-agentcore: any of: service/ai-service/**/*
  update-manifest-auth: any of: service/auth-service/**/*
  update-manifest-search: any of: service/search-service/**/*
