Repository FromProm/FromProm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-auth-service, build-search-service, deploy-frontend, update-manifest-auth, update-manifest-search

build-frontend:
  stage: build
  image: node:20-alpine
  script:
  - echo "Moving to Frontend Directory..."
  - cd $FRONT_ROOT
  - echo "Installing Dependencies & Building..."
  - npm ci
  - npm run build
  artifacts:
    paths:
    - $FRONT_ROOT/$FRONT_BUILD_OUTPUT/
    expire_in: 1 hour

build-auth-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - apk add --no-cache aws-cli git
  - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
  script:
  ...

build-search-service:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - apk add --no-cache aws-cli git
  - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
  script:
  ...

deploy-frontend:
  stage: deploy
  image:
    name: amazon/aws-cli:latest
    entrypoint:
    - ''
  needs:
  - build-frontend
  script:
  - echo "üöÄ Deploying Frontend to S3..."
  - aws s3 sync $FRONT_ROOT/$FRONT_BUILD_OUTPUT/ s3://$S3_FRONT_BUCKET_NAME --delete
  - echo "üîÑ Invalidating CloudFront Cache..."
  ...

update-manifest-auth:
  stage: update-manifest
  image: alpine:latest
  needs:
  - build-auth-service
  before_script:
  - apk add --no-cache git
  - git config --global user.email "gitlab-ci@fromprom.cloud"
  - git config --global user.name "GitLab CI"
  script:
  - echo "üìù Updating Auth Service Manifest..."
  ...

update-manifest-search:
  stage: update-manifest
  image: alpine:latest
  needs:
  - build-search-service
  before_script:
  - apk add --no-cache git
  - git config --global user.email "gitlab-ci@fromprom.cloud"
  - git config --global user.name "GitLab CI"
  script:
  - echo "üìù Updating Search Service Manifest..."
  ...

랜딩페이지 원래대로
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

edit gitlab-ci.yml
  .gitlab-ci.yml
  docs/CICD_SETUP.md
  docs/ENVIRONMENT_VARIABLES.md
  infra/k8s-manifests/README.md
  infra/k8s-manifests/auth-service.yaml
  infra/k8s-manifests/create-secrets.sh
Due: none

제발
  service/ai-service/.gitlab-ci.yml
Due: none

edit gitlab-ci.yml
  .gitlab-ci.yml
Due: none

보안 설정 변경
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

제발2
  service/ai-service/.gitlab-ci.yml
Due: none

코드 변경
  .gitlab-ci.yml
Due: none

ci test
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

docker 수정
  .gitlab-ci.yml
  service/auth-service/Dockerfile
  service/search-service/Dockerfile
Due: build-auth-service, build-search-service, update-manifest-auth, update-manifest-search

제발3
  service/ai-service/.gitlab-ci.yml
Due: none

gitlab-ci.yml 수정
  .gitlab-ci.yml
  infra/k8s-manifests/README.md
  infra/k8s-manifests/create-secrets.sh
Due: none

제발4
  service/ai-service/.gitlab-ci.yml
Due: none

보안설정 코드 수정
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to 560daf8c [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

제발5
  .gitlab-ci.yml
Due: none

제발6
  .gitlab-ci.yml
Due: none

variables test
  .gitlab-ci.yml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

linux 명령어로 수정
  .gitlab-ci.yml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to a1c02468 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

포트 수정 및 변수 추가
  .gitlab-ci.yml
  infra/k8s-manifests/auth-service.yaml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

ci test
  .gitlab-ci.yml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

변수 추가 및 포트 수정
  .gitlab-ci.yml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to 56bfb78c [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

서비스 로딩시간 수정
  infra/k8s-manifests/auth-service.yaml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to 19f6cf15 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

시크릿 로컬에 넣음
  infra/k8s-manifests/auth-service.yaml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to 949eb180 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

test..
  infra/k8s-manifests/auth-service.yaml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to 52453acf [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

테스트
  infra/k8s-manifests/auth-service.yaml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to 7efd7936 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

testestest
  infra/k8s-manifests/auth-service.yaml
  service/auth-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
Due: build-auth-service, update-manifest-auth

chore: update auth-service image to afedf075 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

코드수정
  infra/k8s-manifests/auth-service.yaml
Due: none

포트변경
  infra/k8s-manifests/auth-service.yaml
Due: none

포트수정
  infra/k8s-manifests/auth-service.yaml
Due: none

포트 8080
  infra/k8s-manifests/auth-service.yaml
Due: none

Edit api.ts
  service/front/src/services/api.ts
Due: build-frontend, deploy-frontend

내 프로필 두번 로딩 오류 해결
  service/front/.env.example
  service/front/.env.production
  service/front/src/components/Header.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/services/api.ts
  service/front/src/store/authStore.ts
  service/front/src/vite-env.d.ts
  service/user-service/src/main/java/FromProm/user_service/Configuration/SecurityConfig.java
  service/user-service/src/main/java/FromProm/user_service/Service/PromptService.java
Due: build-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: service/front/**/*
  build-auth-service: any of: service/auth-service/**/*
  build-search-service: any of: service/search-service/**/*
  deploy-frontend: any of: service/front/**/*
  update-manifest-auth: any of: service/auth-service/**/*
  update-manifest-search: any of: service/search-service/**/*
