Repository FromProm/FromProm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, sonarqube-ai, sonarqube-auth, sonarqube-search, deploy-frontend, deploy-ai-agentcore, update-manifest-auth, update-manifest-search

Path conditions:
  build-frontend: any of: service/front/**/*
  sonarqube-ai: any of: service/ai-service/**/*
  sonarqube-auth: any of: service/auth-service/**/*
  sonarqube-search: any of: service/search-service/**/*
  deploy-frontend: any of: service/front/**/*
  deploy-ai-agentcore: any of: service/ai-service/**/*
  update-manifest-auth: any of: service/auth-service/**/*
  update-manifest-search: any of: service/search-service/**/*

UI.......
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/PromptCreatePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

UI........
  service/front/src/components/Header.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/PromptCreatePage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

UI.........
  service/front/src/components/Header.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
Due: build-frontend, deploy-frontend

UI..........
  service/front/src/components/Header.tsx
  service/front/src/index.css
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

UI...........
  service/front/src/components/Header.tsx
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
Due: build-frontend, deploy-frontend

UI............
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/PurchasePage.tsx
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI.............
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI..............
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI...............
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI................
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI.................
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI.................마지막 아자자
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/utils/errorMessages.ts
Due: build-frontend, deploy-frontend

UI.................정말마지막 아자자
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI.................정말정말마지막 아자자
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI.................제발정말정말마지막 아자자
  service/front/src/pages/auth/LoginPage.tsx
Due: build-frontend, deploy-frontend

구매 이력 저장 및 불러오기
  service/auth-service/src/main/java/FromProm/user_service/Controller/CreditController.java
  service/auth-service/src/main/java/FromProm/user_service/DTO/PurchaseHistoryResponse.java
  service/auth-service/src/main/java/FromProm/user_service/Entity/Credit.java
  service/auth-service/src/main/java/FromProm/user_service/Service/CreditService.java
  service/front/src/pages/PurchasePage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/services/api.ts
  service/front/src/store/authStore.ts
  service/front/src/store/purchaseStore.ts
Due: build-frontend, sonarqube-auth, deploy-frontend, update-manifest-auth

chore: update auth image to 9b7c51bd [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

댓글 닉네임 관련 수정
  service/auth-service/src/main/java/FromProm/user_service/Service/InteractionService.java
Due: sonarqube-auth, update-manifest-auth

내가 등록한 프롬프트 삭제
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

chore: update auth image to 4c3204cc [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

댓글 닉네임 조회 수정
  service/auth-service/src/main/java/FromProm/user_service/Repository/UserRepository.java
  service/auth-service/src/main/java/FromProm/user_service/Service/InteractionService.java
Due: sonarqube-auth, update-manifest-auth

chore: update auth image to 0c6b1267 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

좋아요 북마크 수정
  service/auth-service/src/main/java/FromProm/user_service/Repository/UserRepository.java
  service/auth-service/src/main/java/FromProm/user_service/Service/InteractionService.java
Due: sonarqube-auth, update-manifest-auth

구매 상세페이지에서 프롬프트 디테일 화면 볼 수 있게 수정
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

chore: update auth image to 231dd653 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

좋아요/북마크 수정
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/search-service/src/main/java/fromprom/search/Service/InteractionService.java
Due: build-frontend, sonarqube-search, deploy-frontend, update-manifest-search

chore: update search image to f7a6c87d [skip ci]
  infra/k8s-manifests/search-service.yaml
Due: none

내 프로필 좋아요/댓글/북마크 상세보기
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/services/api.ts
  service/search-service/src/main/java/fromprom/search/Controller/SearchController.java
  service/search-service/src/main/java/fromprom/search/Service/InteractionService.java
Due: build-frontend, sonarqube-search, deploy-frontend, update-manifest-search

chore: update search image to 1ede937c [skip ci]
  infra/k8s-manifests/search-service.yaml
Due: none

UI 1
  service/front/src/components/Header.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

두 페이지가 서로 같은 상태 저장
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

프롬프트 디테일 페이지에서 판매자면 등록한 프롬프트도 보이게 설정
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

UI 2
  service/front/src/index.css
  service/front/src/pages/ContactPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

판매 중인 프롬프트 탭에서 각 프롬프트 카드에 "보기" 버튼이 삭제 버튼 왼쪽에 추가
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

ses
  service/ai-service/agent.py
  service/ai-service/app/adapters/notification/ses_notifier.py
  service/ai-service/app/agents/strands_supervisor_agent.py
Due: sonarqube-ai, deploy-ai-agentcore

feat: 닉네임 변경 시 프롬프트/댓글 닉네임 동기화
  service/auth-service/src/main/java/FromProm/user_service/Configuration/AwsConfig.java
  service/auth-service/src/main/java/FromProm/user_service/Repository/UserRepository.java
  service/auth-service/src/main/java/FromProm/user_service/Service/UserService.java
  service/search-service/src/main/java/fromprom/search/Controller/SearchController.java
  service/search-service/src/main/java/fromprom/search/Service/SearchService.java
Due: sonarqube-auth, sonarqube-search, update-manifest-auth, update-manifest-search

UI 3
  service/front/src/components/Header.tsx
  service/front/src/index.css
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/utils/errorMessages.ts
Due: build-frontend, deploy-frontend

UI 4
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/utils/errorMessages.ts
Due: build-frontend, deploy-frontend

perf: Scan을 Query로 변경 (GSI 활용)
  service/auth-service/src/main/java/FromProm/user_service/Repository/UserRepository.java
  service/auth-service/src/main/java/FromProm/user_service/Service/PromptService.java
  service/search-service/src/main/java/fromprom/search/Service/InteractionService.java
Due: sonarqube-auth, sonarqube-search, update-manifest-auth, update-manifest-search

UI 5
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
Due: build-frontend, deploy-frontend
