Repository FromProm/FromProm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, sonarqube-ai, sonarqube-auth, sonarqube-search, deploy-frontend, deploy-ai-agentcore, update-manifest-auth, update-manifest-search

build-frontend:
  stage: build
  image: node:20-alpine
  variables:
    FRONT_ROOT: service/front
    FRONT_BUILD_OUTPUT: dist
  script:
  - cd $FRONT_ROOT
  - npm ci --prefer-offline --no-audit
  - npm run build
  artifacts:
    paths:
    - $FRONT_ROOT/$FRONT_BUILD_OUTPUT/
    expire_in: 1 hour

sonarqube-ai:
  stage: sast
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: sonar-ai-${CI_COMMIT_REF_SLUG}
    paths:
    - .sonar/cache
  script:
  - cd service/ai-service
  ...

sonarqube-auth:
  stage: sast
  image: gradle:8.5-jdk17
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: sonar-auth-${CI_COMMIT_REF_SLUG}
    paths:
    - .sonar/cache
    - service/auth-service/.gradle/
  before_script:
  - apt-get update && apt-get install -y unzip curl
  ...

sonarqube-search:
  stage: sast
  image: gradle:8.5-jdk17
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: sonar-search-${CI_COMMIT_REF_SLUG}
    paths:
    - .sonar/cache
    - service/search-service/.gradle/
  before_script:
  - apt-get update && apt-get install -y unzip curl
  ...

deploy-frontend:
  stage: deploy
  image: amazon/aws-cli:latest
  needs:
  - build-frontend
  variables:
    FRONT_ROOT: service/front
    FRONT_BUILD_OUTPUT: dist
  script:
  - aws s3 sync $FRONT_ROOT/$FRONT_BUILD_OUTPUT/ s3://$S3_FRONT_BUCKET_NAME --delete
  ...

deploy-ai-agentcore:
  stage: deploy
  image: python:3.11-slim
  variables:
    AWS_REGION: us-west-2
  script:
  - apt-get update && apt-get install -y --no-install-recommends git curl jq
  - pip install --no-cache-dir awscli bedrock-agentcore-starter-toolkit
  - cd service/ai-service
  - pip install --no-cache-dir -e .
  ...

update-manifest-auth:
  stage: update-manifest
  image: amazon/aws-cli:latest
  needs:
  - build-auth-service
  before_script:
  - yum install -y git
  - curl -LO "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl" && chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl
  ...

update-manifest-search:
  stage: update-manifest
  image: amazon/aws-cli:latest
  needs:
  - build-search-service
  before_script:
  - yum install -y git
  - curl -LO "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl" && chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl
  ...

test skip
  .gitlab-ci.yml
Due: none

test
  service/auth-service/src/main/java/FromProm/user_service/Controller/UserController.java
Due: sonarqube-auth, update-manifest-auth

chore: update auth image to 88b85377 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

프론트 디자인 대폭 수정..
  service/front/index.html
  service/front/package-lock.json
  service/front/package.json
  service/front/public/logo.png
  service/front/public/이미지 예시 출력.jpg
  service/front/src/App.tsx
  service/front/src/components/DarkVeil.css
  service/front/src/components/DarkVeil.tsx
  service/front/src/components/Footer.tsx
  service/front/src/components/Header.tsx
  service/front/src/components/LightPillar.tsx
  service/front/src/components/LiquidEther.css
  service/front/src/components/LiquidEther.tsx
  service/front/src/components/TextType.css
  service/front/src/components/TextType.tsx
  service/front/src/components/TiltCard.tsx
  service/front/src/index.css
  service/front/src/pages/CartPage.tsx
  service/front/src/pages/ContactPage.tsx
  service/front/src/pages/CreditPage.tsx
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptCreatePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

S3 연결 QA
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

회원가입 수정
  service/auth-service/src/main/java/FromProm/user_service/Controller/UserController.java
Due: sonarqube-auth, update-manifest-auth

사용자 친화적 UI
  service/front/src/pages/PurchasePage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
  service/front/src/pages/dashboard/SettingsPage.tsx
  service/front/src/utils/errorMessages.ts
Due: build-frontend, deploy-frontend

홈페이지 렉 개선
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
Due: build-frontend, deploy-frontend

토큰 사용수 및 점수 계산 가중치 제거
  service/ai-service/app/core/config.py
Due: sonarqube-ai, deploy-ai-agentcore

chore: update auth image to 05b8dd53 [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

ai 서비스 자동배포 수정
  .gitlab-ci.yml
Due: none

ai ci 테스트
  service/ai-service/app/core/config.py
Due: sonarqube-ai, deploy-ai-agentcore

내가 등록한 프롬프트면 구매 불가
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/store/authStore.ts
Due: build-frontend, deploy-frontend

내가 구매한 프롬프트 내용 수정
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

내가 등록한 프롬프트면 피드백 보기 가능
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

댓글, 좋아요, 북마크 수정
  service/auth-service/src/main/java/FromProm/user_service/Service/InteractionService.java
Due: sonarqube-auth, update-manifest-auth

비밀번호 보기/숨기기 상태 추가:
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

MyprofilePage.tsx 모바일 최적화 완료:
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

chore: update auth image to 957780ae [skip ci]
  infra/k8s-manifests/auth-service.yaml
Due: none

마켓플레이스 페이지에서도 내 프롬프트를 구매할 수 없도록 수정
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

모바일 화면 최적화
  service/front/src/pages/CartPage.tsx
  service/front/src/pages/CreditPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
Due: build-frontend, deploy-frontend

DB 호출 최적화
  service/search-service/src/main/java/fromprom/search/Controller/SearchController.java
  service/search-service/src/main/java/fromprom/search/Service/InteractionService.java
Due: sonarqube-search, update-manifest-search

페이지 네이션 구현
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/services/api.ts
  service/search-service/src/main/java/fromprom/search/Controller/SearchController.java
  service/search-service/src/main/java/fromprom/search/DTO/PagedResult.java
  service/search-service/src/main/java/fromprom/search/Service/SearchService.java
Due: build-frontend, sonarqube-search, deploy-frontend, update-manifest-search

React Query 추가
  service/front/src/main.tsx
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

chore: update search image to 60fdfee4 [skip ci]
  infra/k8s-manifests/search-service.yaml
Due: none

출력 예시 Dynamodb에서 가져오기
  service/front/src/pages/PromptDetailPage.tsx
  service/search-service/src/main/java/fromprom/search/Controller/SearchController.java
  service/search-service/src/main/java/fromprom/search/Service/InteractionService.java
Due: build-frontend, sonarqube-search, deploy-frontend, update-manifest-search

chore: update search image to e67a4a34 [skip ci]
  infra/k8s-manifests/search-service.yaml
Due: none

예시 출력 변경
  service/front/src/pages/PromptDetailPage.tsx
  service/search-service/src/main/java/fromprom/search/Service/InteractionService.java
Due: build-frontend, sonarqube-search, deploy-frontend, update-manifest-search

chore: update search image to f03cbf12 [skip ci]
  infra/k8s-manifests/search-service.yaml
Due: none

프롬프트 미리보기 삭제 및 설명 위치 변경
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

프롬프트 설명 제거
  service/front/src/pages/PromptDetailPage.tsx
Due: build-frontend, deploy-frontend

프론트엔드 폰트 및 UI 개선
  service/front/index.html
  service/front/src/index.css
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

프론트엔드 랜딩페이지 폰트 재수정
  service/front/src/pages/LandingPage.tsx
Due: build-frontend, deploy-frontend

UI..
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptCreatePage.tsx
  service/front/src/pages/auth/LoginPage.tsx
  service/front/src/pages/auth/RegisterPage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
Due: build-frontend, deploy-frontend

UI...
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
Due: build-frontend, deploy-frontend

UI....
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/services/mockData.ts
Due: build-frontend, deploy-frontend

mockData.ts 삭제
  service/front/src/services/mockData.ts
Due: build-frontend, deploy-frontend

UI.... AI ..
  service/ai-service/app/agents/strands_supervisor_agent.py
  service/ai-service/app/orchestrator/stages/variance_stage.py
  service/front/src/pages/DocsPage.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptCreatePage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/utils/errorMessages.ts
Due: build-frontend, sonarqube-ai, deploy-frontend, deploy-ai-agentcore

UI.....
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/pages/dashboard/PurchasedPromptsPage.tsx
Due: build-frontend, deploy-frontend

UI......
  service/front/src/components/Footer.tsx
  service/front/src/pages/LandingPage.tsx
  service/front/src/pages/MarketplacePage.tsx
  service/front/src/pages/PromptDetailPage.tsx
  service/front/src/pages/dashboard/CreditHistoryPage.tsx
  service/front/src/pages/dashboard/MyprofilePage.tsx
  service/front/src/utils/errorMessages.ts
Due: build-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: service/front/**/*
  sonarqube-ai: any of: service/ai-service/**/*
  sonarqube-auth: any of: service/auth-service/**/*
  sonarqube-search: any of: service/search-service/**/*
  deploy-frontend: any of: service/front/**/*
  deploy-ai-agentcore: any of: service/ai-service/**/*
  update-manifest-auth: any of: service/auth-service/**/*
  update-manifest-search: any of: service/search-service/**/*
